@topNavHeight: 2em;
@headerHeight: 4em;
@headerBorderHeight: 0.2em;

header {
    .z-1;
    box-sizing: border-box;

    text-align: center;

    background: #FFF;

    display: flex;

    justify-content: space-between;

    padding: .5em;

    z-index: 10;

    .navigation {
        align-items: flex-end; // Align to right side

        display: flex;

        flex-direction: column;

        justify-content: center; // Center vertically

        padding: 0;
    }

    @media screen and (max-width: 40em) {
        flex-direction: column;

        padding: 0;

        .logo {
            align-self: center;

            padding: .5em;
        }

        .navigation {
            align-items: stretch;

            flex-direction: row;

            justify-content: space-between;

            padding: 0;
        }

        .menu.primary {
            background-color: @primaryColor;

            justify-content: space-around;
            width: 100%;

            > li {
                color: #FFF;

                flex: 1;

                padding: .3em .5em;

                &:hover {
                    background-color: lighten(@primaryColor, 10%);
                    color: #FFF;
                }
            }
        }

        .menu.secondary {
            display: none;
        }
    }
}

.logo {
    line-height: 1;

    text-align: left;

    display: grid;

    grid-gap: .5em;

    grid-template-areas: "image title" "image subtitle";

    text-decoration: none;

    img {
        grid-area: image;
        height: 3rem;
    }

    > a {
        text-decoration: none;
    }

    h1.title {
        color: @frontColor1;

        font-size: 1.5em;
        font-weight: 800;

        grid-area: title;

        margin: 0;

        padding: 0;
    }

    .subtitle {
        grid-area: subtitle;
        font-size: @ipFontSizeSmall;
    }
}

.menu {
    align-items: stretch;

    display: flex;

    justify-content: flex-end;

    list-style: none;

    margin: 0;

    padding: 0;

    li {
        color: @primaryColor;
        transition: all .2s ease;
    }

    a {
        color: inherit;

        display: inline-block;

        padding: .2em .5em;

        text-decoration: none;
        transition: all .2s ease;
    }

    li:hover {
        color: lighten(@frontColor1, 10);
    }

    li.active {
        background: transparent;

        a {
            font-weight: 800;
        }
    }

    &.secondary {
        font-size: 0.8em;
    }
}

.menu.inverted {
    li:hover a,
    li.active a {
        color: white;
    }

    li.active {
        background: @frontColor1;
    }

    li:hover {
        background: lighten(@frontColor1, 10);
    }

    a {
        color: @frontColor1;
    }
}

nav {
    background: @frontColor1;
    height: @topNavHeight;
    text-align: center;
    border-bottom: @headerBorderHeight solid white;
}

.languages {
    float: right;
}
