/**
 * Main less file. Mainly imports other bits and pieces.
 */

// import system ipContent.less file
@import "ipContent.less";

// Frame
@import "less/header.less";
@import "less/footer.less";
@import "less/general.less";
@import "less/button.less";

@import "less/CoverImage.less";
@import "less/Banner.less";
@import "less/Accordion.less";

// Custom settings
@pageWidth: 60em;

// Open Sans font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700');

// Colors?
@frontColor1: #800080;
@frontColor2: #005000;

// Fontsw
@ipFontSize: 1rem;
@ipFontFamily: "Open Sans", sans-serif;
@ipFontFamilyHeadlines: @ipFontFamily;
@ipH1Color: @frontColor1;
@ipH2Color: @frontColor1;
@ipH3Color: @frontColor1;
@ipH1FontSize: 2.5em;
@ipH2FontSize: 1.75em;
@ipH3FontSize: 1.5em;

@ipButtonBgColor: @frontColor1;
@ipFormButtonBackground: @ipButtonBgColor;

